/* ====================== JavaScript is turned off ==================== */
.deep-menu
{
	color:#FFF;
	/*position:relative;*/
	font-family: Tahoma, Helvetica, sans-serif;
	font-size:10px;
	clear: both;
}
.deep-menu > ul
{
	padding:0px;
	margin:0px;
	list-style:none;
	background:#333333;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.deep-menu ul li
{
	padding:0;
	margin:0;
	position: relative;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.deep-menu ul li a
{
	display: block;
	color:#FFF;
	text-decoration:none;
	text-align: center;
}
.deep-menu ul li a:hover
{
	background:#3ea5ea;
}
.deep-menu ul li ul
{
	 display: none;
	 width: auto;
	 position:absolute;
	 padding:0px;
	 margin:0px;
	 z-index: 1000;
}

.deep-menu > ul > li:hover > ul
{
	 display: block;
	 position: absolute;
	 margin: 0px;
	 padding: 0px;
}

.deep-menu > ul > li > ul  li:hover > ul
{
	 display: block;
	 position: absolute;
	 padding: 0px;
	 left: 100%;
	 top: -1px;
	 margin-top: 1px;
}

.deep-menu ul li:hover li
{
 	float: none;
 	list-style:none;
	margin:0px;
}
.deep-menu ul li:hover li
{
	background:#333;
}
.deep-menu ul li:hover li a
{
    color: #fff;
	display:block;
}

.deep-menu a > img{
	border: none;
	outline: none;
	display: block;
}

/* ====================== JavaScript is turned off ==================== */

/* ====================== JavaScript is turned on ===================== */
.deep-menu-js > ul {
	display: none;
}

.deep-menu-js a, 
.deep-menu-js a:hover, 
.deep-menu-js a:active, 
.deep-menu-js a:visited{
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	display: block;
	border: none;
	outline: none;
}

.deep-menu-js .deep-menu-grid > div{
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	margin-top:10px;
}

.deep-menu-js .deep-menu-grid div{
	filter: inherit;
}

.deep-menu-js .deep-menu-grid > div > a{
	display: block;
	width: 100%;
	height: 100%;
	*word-wrap: break-word;
}

.deep-menu-js .deep-menu-grid a img{
	border: none;
}

.deep-menu-js .deep-menu-grid > div > a:hover{
	display: block;
	height: 100%;
	width: 100%;
}

.deep-menu-navigation{
	position: absolute;
	display: block;
}

.deep-menu-navigation-home,
.deep-menu-navigation-back{
	position: relative;
	cursor: pointer;
	float: left;
	top: 100%;  
	left:610%;
}

.deep-menu-navigation-back{
	padding-right: 5px;
}

.deep-menu-navigation-home{
	padding-left: 5px;
}

.deep-menu-tile-mark-top-right,
.deep-menu-tile-mark-top-left,
.deep-menu-tile-mark-bottom-left,
.deep-menu-tile-mark-bottom-right{
	position:absolute;
	height: 0px;
	width: 0px;
}
/* ====================== JavaScript is turned on ===================== */