#SlideAddGlobalAction .row-fluid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#SlideAddGlobalAction .multi-step-input {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-size: .75em;
  width: 80%;
}
#SlideAddGlobalAction .multi-step-input ul {
  display: flex;
  flex-flow: row wrap;
}
#SlideAddGlobalAction .multi-step-input .action-item {
  flex-flow: row;
  display: flex;
  padding: 1 em;
}
#SlideAddGlobalAction .multi-step-input .ng-scope {
  width: auto;
  display: flex;
  flex-flow: row;
}
#SlideAddGlobalAction .multi-step-input .ng-binding {
  margin-right: .5em;
  padding-top: 2em;
}
#SlideAddGlobalAction .multi-step-input .action-item-clear {
  position: absolute;
  top: .5em;
  right: .5em;
  color: white;
  opacity: 0;
    transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
#SlideAddGlobalAction .multi-step-input .ng-binding:hover .action-item-clear{
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
#SlideAddGlobalAction .multi-step-input .input-select-outer {
	margin-top:1.9em;
}
#SlideAddGlobalAction .multi-step-input input{
margin-top: 1.5em;
margin-right: .5em;
font-size: 1em;
background-color:transparent;
color:white !important;
border:none;
}

.actionSelectBox{
    width: 30em;
    height: 50em;
    background-color:darkslateblue;
    margin-right: 2em;
    font-size: 13px;
}

.actionCircle{
    height: 20em;
    width: 20em;
    font-size: 13px;
}


