<div class="action-item input-{{ item.name }}">
    <div ng-show="model.options.before">{{ model.options.before }}</div>
    <div class="input-select-outer" ng-show="model.editing">
        <select type="text" ng-model="model.value" class="focusable" ui-select2="item.select2Options"
                ng-options="o for o in model.options.options" style="min-width: 80px">
            <option value="" selected>{{ model.options.placeholder }}</option>
        </select>
    </div>
    <div ng-hide="model.editing">
        {{ model.value }}



 <a href="javascript:void(0)" ng-click="model.reset()" class="icomo-cancel-circle action-item-clear"></a>

    </div>
    <div ng-show="model.options.after">{{ model.options.after }}</div>
</div>