<div class="action-item input-{{ item.name }}">
    <div ng-show="model.options.before">{{ model.options.before }}</div>
    <input type="{{ model.options.inputType }}" ng-model="model.value"
           ng-show="model.editing" class="focusable"
           placeholder="{{ model.options.placeholder }}">
    <div ng-hide="model.editing">
        {{ model.value }}
          <a href="javascript:void(0)" class="icomo-cancel-circle corner-close" ng-click="model.reset()"></a>
    </div>
    <div ng-show="model.options.after">{{ model.options.after }}</div>
</div>