<div class="action-item {{ model.name }}">
    <div ng-show="model.options.before">{{ model.options.before }}</div>
    <input type="{{ model.options.inputType }}" ng-model="model.value"
           ng-show="model.editing" class="focusable"
           placeholder="{{ model.options.placeholder }}">
    <div ng-hide="model.editing">
        {{ model.value }}
        [<a href="javascript:void(0)" ng-click="model.reset()">x</a>]
    </div>
    <div ng-show="model.options.after">{{ model.options.after }}</div>
</div>