.btn-s-mini {
    min-width: 90px;
}

.btn-s-small {
    min-width: 100px;
}

.btn-s-medium {
    min-width: 11.25rem;
}

.btn-s-large {
    min-width: 13.125rem;
}

.btn-s-xlarge {
    min-width: 12.5rem;
}

.btn-s-xxlarge {
    min-width: 18.75rem;
}

.btn-padder {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.l-h-2x {
    line-height: 2em;
}

.text-small {
    font-size: 12px;
}

.text-mini {
    font-size: .625rem;
}

.padder {
    padding: 0 1.3125rem;
}

.pull-in {
    margin-left: -1.3125rem;
    margin-right: -1.3125rem;
}

.pull-out {
    margin: -1.3125rem;
}

.b-t {
    border-top: 1px solid #e0e4e8;
}

.m-l {
    margin-left: 1.3125rem !important;
}

.m-l-none {
    margin-left: 0 !important;;
}

.m-l-mini {
    margin-left: .3125rem !important;;
}

.m-l-small {
    margin-left: .75rem !important;;
}

.m-l-m {
    margin-left: 1rem !important;;
}

.m-l-large {
    margin-left: 1.25rem !important;;
}

.m-l-xlarge {
    margin-left: 2rem !important;
}

.m-l-xxlarge {
    margin-left: 3rem !important;
}

.m-l-3xlarge {
    margin-left: 6rem !important;
}

.m-l-n {
    margin-left: -1.3125rem !important;
}

.m-l-n-mini {
    margin-left: -0.3125rem;
}

.m-l-n-small {
    margin-left: -0.625rem;
}

.m-l-n-large {
    margin-left: -1.25rem;
}

.m-t {
    margin-top: 1.3125rem !important;;
}

.m-t-none {
    margin-top: 0 !important;;
}

.m-t-mini {
    margin-top: .3125rem !important;
}

.m-t-small {
    margin-top: .625rem !important;
}

.m-t-large {
    margin-top: 1.25rem !important;
}

.m-t-xlarge {
    margin-top: 2.5rem;
}

.m-t-n {
    margin-top: -1.3125rem;
}

.m-t-n-mini {
    margin-top: -0.3125rem;
}

.m-t-n-small {
    margin-top: -0.625rem;
}

.m-t-n-large {
    margin-top: -1.25rem;
}

.m-r {
    margin-right: 1.3125rem;
}

.m-r-none {
    margin-right: 0;
}

.m-r-mini {
    margin-right: .3125rem;
}

.m-r-small {
    margin-right: .625rem;
}

.m-r-large {
    margin-right: 1.25rem;
}

.m-r-n {
    margin-right: -1.3125rem;
}

.m-r-n-mini {
    margin-right: -0.3125rem;
}

.m-r-n-small {
    margin-right: -0.625rem;
}

.m-r-n-large {
    margin-right: -1.25rem;
}

.m-b {
    margin-bottom: 1.3125rem;
}

.m-b-none {
    margin-bottom: 0;
}

.m-b-mini {
    margin-bottom: .3125rem;
}

.m-b-small {
    margin-bottom: .625rem;
}

.m-b-large {
    margin-bottom: 1.25rem;
}

.m-b-n {
    margin-bottom: -1.3125rem;
}

.m-b-n-mini {
    margin-bottom: -0.3125rem;
}

.m-b-n-small {
    margin-bottom: -0.625rem;
}

.m-b-n-large {
    margin-bottom: -1.25rem;
}

.media-mini {
    min-width: 3.125rem;
}

.media-small {
    min-width: 5rem;
}

.media-large {
    min-width: 90px;
}